<div class="container">
    <div class="dark-mode">
        <!-- Page Heading -->
        <br>
        <h1 class="my-4">Mes articles</h1>
        <br><br>
        <!-- .row -->
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let Item of myItems; let i = index">
                <div class="card h-100 hop">
                    <img class="card-img-top img-selected img-height" [src]="domSanitizer.bypassSecurityTrustUrl(Item.photos[0])" />
                    <a name="{{i}}" data-toggle="modal" data-target="#exampleModalCenter" data-myvalue="trousdfgsdgsdgducul"
                        data-myvar="biurturtusbis" role="button" aria-expanded="false" aria-controls="collapseExample"
                        (mouseenter)="handleClick(i)">
                        <div class="card-body">
                            <h4 class="card-title">
                                <div class="articles-title">{{ Item.title }}</div>
                                <!-- <div class="articles-title">{{ Item.price }}</div>
                            <div class="articles-title">{{ i }}</div> -->
                                <!-- <button (click)="handleClick(i)">Modifier</button> -->
                                <!-- <button (mouseenter)="handleClick(i)">Modifier1</button> -->
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <app-edit-modal [idItem]=idItem></app-edit-modal>
        <!-- /.row -->
    </div>
</div>


<!-- /.container -->
<!-- .modal article-->
<!-- <div class="modal fade bd-example-modal-lg" id="ModalArticle" tabindex="-1" role="dialog" aria-labelledby="ModalArticleTitle"
    aria-hidden="true" *ngFor="let Item of myItems; let i = index">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ myItems[3].title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="card h-100 hop">
                            <img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/1510154/pexels-photo-1510154.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                                alt="">
                        </div>
                    </div>
                </div>
                <label for="usr">Prix</label>
                <input type="text" class="form-control" id="usr" value="{{ myItems[3].price }}">
                <label for="usr">Style</label>
                <input type="text" class="form-control" id="usr" value="{{ myItems[3].style }}">
                <label for="usr">Taille</label>
                <input type="text" class="form-control" id="usr" value="{{ myItems[3].characteristic.size }}">
                <label for="usr">Couleur</label>
                <input type="text" class="form-control" id="usr" value="{{ myItems[3].characteristic.color }}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Modifier</button>
                    <button type="button" class="btn btn-primary" (click)="deleteMyArticle">Supprimer</button>
                </div>

            </div>
        </div>
    </div>
</div> -->
<!-- /.modal article -->