<div class="d-flex flex-column h-100">
  <app-nav-bar></app-nav-bar>

  <!--<div class="flex-grow-1 flex-shrink-1" *ngIf="auth.loggedIn === false">
    
  </div>-->
  <router-outlet></router-outlet>


  <app-footer></app-footer>
</div>
