<div class="sell dark-mode">

    <h2 class="my-4" style="text-align:center">Afficher votre manteau</h2>
    <form [formGroup]="postItem" (ngSubmit)="post(postItem.value)">
        <div class="sell-group">
            <div class="sell-group-top">
                <div class="form-group">
                    <label for="usr">Titre</label>
                    <input type="text" class="form-control" id="usr" formControlName='title' required>
                </div>
            </div>

            <div class="form-group">
                <label for="usr">Prix</label>
                <input type="text" class="form-control" id="usr" formControlName='price' required>
            </div>

            <div class="form-group">
                <label for="usr">Style</label>
                <select class="custom-select form-control" type="text" class="form-control" id="usr" formControlName='style'
                    required>
                    <option value="tendance">Tendance</option>
                    <option value="classy">Classy</option>
                    <option value="vintage">Vintage</option>
                    <option value="rock">Rock</option>
                    <option value="streetwear">Streetwear</option>
                    <option value="casual">Casual</option>
                    <option value="sporty">Sporty</option>
                    <option value="punk">Punk</option>
                </select>
            </div>

            <div class="form-group">
                <label for="usr">Taille</label>
                <select class="custom-select form-control" type="text" class="form-control" id="usr" formControlName='size'
                    required>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                </select>
            </div>

            <div class="form-group">
                <label for="usr">Couleur</label> <br>
                <input type="text" class="form-control" id="usr" formControlName='color' required>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Ajouter des photos
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <input class="input-image" type="file" accept="image/*" (change)="changeListener($event)">
                            <input class="input-image" type="file" accept="image/*" (change)="changeListener($event)">
                            <input class="input-image" type="file" accept="image/*" (change)="changeListener($event)">
                            <input class="input-image" type="file" accept="image/*" (change)="changeListener($event)">
                            <input class="input-image" type="file" accept="image/*" (change)="changeListener($event)">
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-lenny" type="submit">Valider</button>
        </div>
    </form>
</div>