<div class="hero-image image">
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm" style="text-align: left">
        <div class="typewriter">
          <div class="css-typing">
            <p>
              Vendre ses vêtements entre particuliers,
            </p>
            <p>
              entre voisins,
            </p>
            <p>
              entre amis.
            </p>
          </div>
          <!-- <div class="typewriter-text">Lenny, le site de vente de vêtements entre particuliers.</div> -->
        </div>
      </div>
    </div>
  </div>
</div>