.userImg {
  max-width: 4%;;
}

.form-control{
	height: 50px;
}

.col{
	width: 10px;
}

.profile {
	padding-left: 350px;
	padding-right: 350px; 
	padding-top: 20px;
	padding-bottom: 70px;
}

.profile-group {
	padding-left: 25%;
	padding-right: 25%; 
	padding-bottom: 10px;
}

.profile-group-top {
	padding-top: 30px;
}

.form-check-label{
	padding-right: 7px;
}

.btn-lenny{
	border-radius: 0.3rem;
	background-color: white;
	color: black;
	margin: auto;
	margin-top: 50px;
	display: block;
	border: white;
	box-shadow: 0 0 0 0.2rem #ddddde;
	min-width: 120px;
}

.btn-lenny:hover{
	box-shadow: 0 0 0 0.2rem #ddddde;
	background-color: rgb(221, 221, 221);
}

/* Switch 1 Specific Styles Start */

.box_1{
background: none;
}

input[type="checkbox"].switch_1{
font-size: 30px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 2em;
height: 1em;
background: #ddd;
border-radius: 3em;
position: relative;
cursor: pointer;
outline: none;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked{
background: #212529;
}

input[type="checkbox"].switch_1:after{
position: absolute;
content: "";
width: 1em;
height: 1em;
border-radius: 50%;
background: #fff;
-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
				box-shadow: 0 0 .25em rgba(0,0,0,.3);
-webkit-transform: scale(.7);
				transform: scale(.7);
left: 0;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
left: calc(100% - 1em);
}

/* Switch 1 Specific Style End */

/* Switch 2 Specific Styles Start */

.box_1{
background: none;
}

input[type="checkbox"].switch_2{
font-size: 15px;
-webkit-appearance: none;
	 -moz-appearance: none;
				appearance: none;
width: 1.5em;
height: 1em;
background: #ddd;
border-radius: 3em;
position: relative;
cursor: pointer;
outline: none;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_2:checked{
background: #212529;
}

input[type="checkbox"].switch_2:after{
position: absolute;
content: "";
width: 1em;
height: 1em;
border-radius: 50%;
background: #fff;
-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
				box-shadow: 0 0 .25em rgba(0,0,0,.3);
-webkit-transform: scale(.7);
				transform: scale(.7);
left: 0;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_2:checked:after{
left: calc(100% - 1em);
}

/* Switch 2 Specific Style End */

:root{
	--main-color : #555 ;       /* Two hyphens at the start are necessary */
	--main-bg : #fff ;
	}
	
	.dark-mode{
	background : var(--main-bg);     
	color : var(--main-color);
	border-top: 1px solid white;
	}

.btn-image{
background-image: url(https://image.flaticon.com/icons/svg/747/747310.svg);
background-repeat:no-repeat;
background-position: center;
width: 50px;
border-top-right-radius: .25rem;
border-bottom-right-radius: .25rem;
}

.btn-image:hover{
background-color: white;
}
