<div class="profile dark-mode">
  <form [formGroup]="putUser" (ngSubmit)="put(putUser.value)">
    <div class="profile-group">
        <h1 class="my-4">Profil</h1>
      <div class="profile-group-top">
        <div class="form-group">
          <label for="usr">Prénom</label>
          <input type="text" class="form-control" id="usr" formControlName='name' value="{{myProfile.name}}">
        </div>
      </div>
      <div class="form-group">
        <label for="usr">Nom</label>
        <input type="text" class="form-control" id="usr" formControlName='surname' value="{{myProfile.surname}}">
      </div>

      <div class="form-group">
        <label for="usr">Email</label>
        <input type="text" class="form-control" id="usr" formControlName='email' value="{{myProfile.email}}">
      </div>

      <div class="form-group">
        <label for="usr">Date de naissance</label>
        <div class="input-group">
          <input class="form-control" placeholder="" name="dp" maxlength="10" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
            formControlName='birthDate' value="{{myProfile.birthDate.substring(0, 10)}}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar btn-image" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="usr">Mode nuit</label> <br>
        <input [checked]="false" id="checkbox" type="checkbox" class="switch_1" (click)="night_mode()">
      </div> -->

      <div class="form-group">
        <label for="usr">Choix des catégories de style</label><br>
        <div class="row">
          <div class="col">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="tendance">Tendance</label>
              <input type="checkbox" class="switch_2" formControlName='tendance' [checked]="myProfile.profile.style[0] == true">
            </div>
          </div>

          <div class="col">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="classy">Classy</label>
              <input type="checkbox" class="switch_2" formControlName='classy' [checked]="myProfile.profile.style[1] == true">
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="vintage">Vintage</label>
              <input type="checkbox" class="switch_2" formControlName='vintage' [checked]="myProfile.profile.style[2] == true">
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="rock">Rock</label>
              <input type="checkbox" class="switch_2" formControlName='rock' [checked]="myProfile.profile.style[3] == true">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="streetwear">Streetwear</label>
              <input type="checkbox" class="switch_2" formControlName='streetwear' [checked]="myProfile.profile.style[4] == true">
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="casual">Casual</label>
              <input type="checkbox" class="switch_2" formControlName='casual' [checked]="myProfile.profile.style[5] == true">
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="sporty">Sporty</label>
              <input type="checkbox" class="switch_2" formControlName='sporty' [checked]="myProfile.profile.style[6] == true">
            </div>
          </div>
          <div class="col">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="punk">Punk</label>
              <input type="checkbox" class="switch_2" formControlName='punk' [checked]="myProfile.profile.style[7] == true">
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-lenny" type="submit">Valider les modifications</button>
    </div>
    <br><br>
  </form>
</div>