<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <form [formGroup]="putItem" (ngSubmit)="put(putItem.value)">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{Item.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="refreshMyArticles()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let photo of photos; let i = index">
              <div class="card h-100 hop">
                <!-- <img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/1510154/pexels-photo-1510154.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                  alt="">
                  <button type="button" class="btn-lenny-delete-photo">Supprimer</button> -->
                <!-- <div *ngFor="let photo of photos; let i = index"> -->
                <img class="card-img-top img-selected img-height" [src]="domSanitizer.bypassSecurityTrustUrl(photo)" />
                <button type="button" class="btn btn-lenny-delete-photo" (click)="deletePhoto(fileNames[i])">Supprimer</button>
                <!-- </div> -->

              </div>
            </div>
          </div>

          <!-- <div *ngFor="let item of photosToAdd"> -->
          <div class="custom-file" *ngIf="this.Item.photos.length != 5">
            <input type="file" class="custom-file-input" id="customFileLangHTML" accept="image/*" (change)="changeListener($event)">
            <label class="custom-file-label" for="customFileLangHTML" data-browse="Télécharger">Ajouter une photo</label>
          </div>
          <!-- <input type="file" accept="image/*" (change)="changeListener($event)"> -->
          <!-- </div> -->

          <label for="usr">Prix</label>
          <input type="text" class="form-control" id="usr" formControlName='price' value="{{ Item.price }}">
          <label for="usr">Style</label>
          <select class="custom-select form-control" type="text" class="form-control" id="usr" formControlName='style'
            value="{{ Item.style }}">
            <option value="tendance">Tendance</option>
            <option value="classy">Classy</option>
            <option value="vintage">Vintage</option>
            <option value="rock">Rock</option>
            <option value="streetwear">Streetwear</option>
            <option value="casual">Casual</option>
            <option value="sporty">Sporty</option>
            <option value="punk">Punk</option>
          </select>

          <label for="usr">Taille</label>
          <input type="text" class="form-control" id="usr" formControlName='size' value="{{ Item.characteristic.size }}">

          <label for="usr">Couleur</label>
          <input type="text" class="form-control" id="usr" formControlName='color' value="{{ Item.characteristic.color }}">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lenny-delete" (click)="deleteMyArticle(idItem)">Supprimer</button>
          <button type="button" class="btn btn-lenny" type="submit">Valider les modifications</button>
        </div>
      </div>
    </div>
  </form>
</div>