.btn-lenny{
    border-radius: 0.3rem;
        background-color: white;
        color: black;
        margin-right: 20px;
    border: white;
    box-shadow: 0 0 0 0.2rem #ddddde;
        min-width: 120px;
    }
    
    .btn-lenny:hover{
    box-shadow: 0 0 0 0.2rem #ddddde;
    background-color: rgb(221, 221, 221);
    }

.btn-lenny-delete{
    border-radius: 0.3rem;
    background-color: white;
    color: black;
    margin-right: 20px;
    border: white;
    box-shadow: 0 0 0 0.2rem #dc3545;
    min-width: 120px;
    }
        
    .btn-lenny-delete:hover{
    box-shadow: 0 0 0 0.2rem #dc3545;
    background-color: #dc3545;
    color: antiquewhite;
    }

    .btn-lenny-delete-photo{
        background-color: white;
        color: black;
        border-top: 1px solid #e9ecef;
        padding: none !important;
        min-width: 120px;
        font-size: 12px;
        }
            
        .btn-lenny-delete-photo:hover{
        background-color: #dc3545;
        color: antiquewhite;
        }


.custom-file-label{
    width: 35%;
}

.custom-file-input{
    width: 35% !important; 
}