<div class="container">
  <div class="dark-mode">
    <!-- Page Heading -->
    <br>
    <h1 class="my-4">Que voulez-vous vendre ?</h1>
    <br><br>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 hop">
          <a (click)="sellSweater()"><img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/1510154/pexels-photo-1510154.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
              alt="">
            <div class="card-body">
              <h4 class="card-title">
                <div class="articles-title">Chandail</div>
              </h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 hop">
          <a (click)="sellTshirt()"><img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/428340/pexels-photo-428340.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
              alt="">
            <div class="card-body">
              <h4 class="card-title">
                <div class="articles-title">T-Shirt</div>
              </h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 hop">
          <a (click)="sellCoat()"><img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/792325/pexels-photo-792325.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt="">
            <div class="card-body">
              <h4 class="card-title">
                <div class="articles-title">Manteau</div>
              </h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 hop">
          <a (click)="sellPant()"><img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/2897539/pexels-photo-2897539.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 940w, https://images.pexels.com/photos/2897539/pexels-photo-2897539.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 1260w, https://images.pexels.com/photos/2897539/pexels-photo-2897539.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 1880w, https://images.pexels.com/photos/2897539/pexels-photo-2897539.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w"
              alt="">
            <div class="card-body">
              <h4 class="card-title">
                <div class="articles-title">Pantalon</div>
              </h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 hop">
          <a (click)="sellShort()"><img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/69101/pexels-photo-69101.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 940w, https://images.pexels.com/photos/69101/pexels-photo-69101.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 1260w, https://images.pexels.com/photos/69101/pexels-photo-69101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 1880w, https://images.pexels.com/photos/69101/pexels-photo-69101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w"
              alt="">
            <div class="card-body">
              <h4 class="card-title">
                <div class="articles-title">Short</div>
              </h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 hop">
          <a (click)="sellShoes()"><img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/1478442/pexels-photo-1478442.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt="">
            <div class="card-body">
              <h4 class="card-title">
                <div class="articles-title">Chaussures</div>
              </h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 hop">
          <a (click)="sellBonnet()"><img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/1928069/pexels-photo-1928069.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 940w, https://images.pexels.com/photos/1928069/pexels-photo-1928069.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 1260w, https://images.pexels.com/photos/1928069/pexels-photo-1928069.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 1880w, https://images.pexels.com/photos/1928069/pexels-photo-1928069.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w"
              alt="">
            <div class="card-body">
              <h4 class="card-title">
                <div class="articles-title">Tuque</div>
              </h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 hop">
          <a (click)="sellAccessories()"><img class="card-img-top img-selected img-height" src="https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 940w, https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 1260w, https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 1880w, https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w"
              alt="">
            <div class="card-body">
              <h4 class="card-title">
                <div class="articles-title">Accessoires</div>
              </h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>


<!--<button class="btn btn-primary" (click)="validateSellWhat()">Valider</button>-->