.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #212529;
    color: white;
    width: 100%;
    position: absolute; 
    bottom: 0; 
    /* left: 0; 
    right: 0 */
}