.sell {
    padding-left: 350px;
    padding-right: 350px; 
    padding-top: 20px;
    padding-bottom: 70px;
}
.btn-link{
	color: black;
}

.card-body{
	border-bottom: 1px solid rgba(204, 204, 204, 0.53);
}
.btn-lenny-delete-photo{
	background-color: white;
	color: black;
	border-top: 1px solid #e9ecef;
	padding: none !important;
	min-width: 120px;
	font-size: 12px;
	}
		
	.btn-lenny-delete-photo:hover{
	background-color: #dc3545;
	color: antiquewhite;
	}

.btn-link:hover{
	color: black;
}

.card-header{
	border-bottom: 2px solid rgba(204, 204, 204, 0.53);
}

.input-image{
	padding-top: 15px
}

.form-control{
	height: 60px;
}
.sell-group {
    padding-left: 25%;
    padding-right: 25%; 
    padding-bottom: 10px;
}

.btn-lenny{
	border-radius: 0.3rem;
	background-color: white;
	color: black;
	margin: auto;
	margin-top: 50px;
	display: block;
	border: white;
	box-shadow: 0 0 0 0.2rem #ddddde;
	min-width: 120px;
}

.btn-lenny:hover{
	box-shadow: 0 0 0 0.2rem #ddddde;
	background-color: rgb(221, 221, 221);
}


.sell-group-top {
    padding-top: 10px;
}

:root{
	--main-color : #555 ;       /* Two hyphens at the start are necessary */
	--main-bg : #fff ;
	}
	
	.dark-mode{
	background : var(--main-bg);     
	color : var(--main-color);
	border-top: 1px solid white;
	}
