<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="ModalFeed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{Item.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let photo of photos; let i = index">
            <div class="card h-100 hop">
              <img class="card-img-top img-selected img-height" [src]="domSanitizer.bypassSecurityTrustUrl(photo)" />
            </div>
          </div>
        </div>
        <label for="usr">Prix</label>
        <input type="text" class="form-control" id="usr" value="{{ Item.price }}" disabled>

        <label for="usr">Style</label>
        <input type="text" class="form-control" id="usr" value="{{ Item.style }}" disabled>

        <label for="usr">Taille</label>
        <input type="text" class="form-control" id="usr" value="{{ Item.characteristic.size }}" disabled>

        <label for="usr">Couleur</label>
        <input type="text" class="form-control" id="usr" value="{{ Item.characteristic.color }}" disabled>

      </div>
      <div class="modal-footer">
        <a href="mailto:{{ this.Profile.email }}?subject={{ Item.title }}">Contacter le vendeur</a>
        <button type="button" class="btn btn-lenny" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>