.btn-lenny{
    border-radius: 0.3rem;
        background-color: white;
        color: black;
        margin-right: 20px;
    border: white;
    box-shadow: 0 0 0 0.2rem #ddddde;
        min-width: 120px;
    }
    
    .btn-lenny:hover{
    box-shadow: 0 0 0 0.2rem #ddddde;
    background-color: rgb(221, 221, 221);
    }

/* .form-control {
    width: 45%;
} */
