<div class="onboarding dark-mode">
  <h2 class="my-4" style="text-align:center">Créer votre profil</h2>
  <form [formGroup]="postUser" (ngSubmit)="post(postUser.value)">
    <div class="onboarding-group">
      <div class="onboarding-group-top">
        <div class="form-group">
          <label for="usr">Prénom</label>
          <input type="text" class="form-control" id="usr" formControlName='name' required>
        </div>
      </div>
      
      <div class="form-group">
        <label for="usr">Nom</label>
        <input type="text" class="form-control" id="usr" formControlName='surname' required>
      </div>

      <div class="form-group">
        <label for="usr">Email</label>
        <input type="text" class="form-control" id="usr" formControlName='email' required>
      </div>

      <div class="form-group">
        <label for="usr">Date de naissance</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
            formControlName='birthDate' required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar btn-image" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="usr">Mode nuit</label> <br>
        <input id="checkbox" type="checkbox" class="switch_1" (click)="night_mode()">
      </div> -->

      <div class="form-group">
        <label for="usr">Choix des catégories de style</label><br>

        <div class="form-check form-check-inline">
          <label class="form-check-label" for="tendance">Tendance</label>
          <input type="checkbox" class="switch_2" formControlName='tendance'>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="classy">Classy</label>
          <input type="checkbox" class="switch_2" formControlName='classy'>
        </div>

        <div class="form-check form-check-inline">
          <label class="form-check-label" for="vintage">Vintage</label>
          <input type="checkbox" class="switch_2" formControlName='vintage'>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="rock">Rock</label>
          <input type="checkbox" class="switch_2" formControlName='rock'>
        </div>

        <div class="form-check form-check-inline">
          <label class="form-check-label" for="streetwear">Streetwear</label>
          <input type="checkbox" class="switch_2" formControlName='streetwear'>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="casual">Casual</label>
          <input type="checkbox" class="switch_2" formControlName='casual'>
        </div>

        <div class="form-check form-check-inline">
          <label class="form-check-label" for="sporty">Sporty</label>
          <input type="checkbox" class="switch_2" formControlName='sporty'>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="punk">Punk</label>
          <input type="checkbox" class="switch_2" formControlName='punk'>
        </div>
      </div>
      <button class="btn btn-lenny" type="submit">Valider</button>
    </div>
  </form>
</div>