.card-title{
	text-align: center;
	
}

.articles-title{
	color: black;
	font-size: 20px;
	cursor: pointer;
}

.hop:hover{
	margin-top: -.25rem;
	margin-bottom: .25rem;
	transition: .2s;
}

/* .img-selected{
	opacity: .6;
} */

.img-selected:hover{
	opacity: 1;
}

.img-height {
    max-height: 340px !important;
}

/* .col-lg-3 {
	height: 430px;
}  */

.card-body{
	padding: 0.75rem;
	border-top: 1px solid rgba(204, 204, 204, 0.53);
}

.img-height{
	max-height: 169px
}

:root{
--main-color : #555 ;       /* Two hyphens at the start are necessary */
--main-bg : #fff ;
}

.dark-mode{
background : var(--main-bg);     
color : var(--main-color);
border-top: 1px solid white;
	}
	
.sell {
	padding-left: 105px;
	padding-right: 105px; 
	padding-top: 20px;
	padding-bottom: 70px;
}


.badge-dark {
	margin-right: 5px;
}

.badge-info {
	margin-right: 5px;
}