<div class="container">
    <div class="dark-mode">
        <!-- Page Heading -->
        <br>
        <h1 class="my-4">Fil d'actualité</h1>
        <br><br>
        <!-- .row -->
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let Item of allItems; let i = index">

                <div *ngIf="this.Item.userId != this.userId">

                    <div class="card h-100 hop">
                        <img class="card-img-top img-selected img-height" [src]="domSanitizer.bypassSecurityTrustUrl(Item.photos[0])" />
                        <a name="{{i}}" data-toggle="modal" data-target="#ModalFeed" data-myvalue="trousdfgsdgsdgducul"
                            data-myvar="biurturtusbis" role="button" aria-expanded="false" aria-controls="collapseExample"
                            (mouseenter)="handleClick(i)">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <div class="articles-title">{{ Item.title }}</div>
                                    <h5><span class="badge badge-dark">{{ Item.price }} $</span></h5>
                                </h4>
                            </div>
                        </a>
                    </div>

                </div>


            </div>
        </div>
        <app-edit-modal-feed [idItem]=idItem></app-edit-modal-feed>
        <!-- /.row -->
    </div>
</div>