.nav-item-first{
    margin-left: 40px;
}

.bg-light {
    background-color: #212529!important;
}

.nav-user-profile {
    box-shadow: none;
    width: 40px!important;
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar {
    box-shadow: none;
}

/*Nav-bar buttons - Feed, Sell*/
.btn-nav-bar{
    border-radius: 0.3rem;
    background-color: none;
    color: white;
    margin-right: 20px;
    border: white;
    min-width: 120px;
}

.btn-nav-bar:hover{
    box-shadow: 0 0 0 0.2rem #ddddde;
}

/*Nav-bar buttons - Feed, Sell - End*/


/*Nav-bar buttons - Lenny*/
.btn-nav-bar-Lenny{
    border-radius: 0.3rem;
    background-color: none;
    color: white;
    margin-right: 20px;
    border: white;
    min-width: 120px;
    font-size: 30px
}

.btn-nav-bar-Lenny:focus{
    box-shadow: none;
}

/*Nav-bar buttons - Lenny - End*/