<div class="nav-container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <button routerLink="/" class="btn btn-nav-bar-Lenny">Lenny </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">

          <!-- Menu section: show if authenticated -->
          <ul class="navbar-nav mr-auto" *ngIf="auth.userProfile$ | async as profile">
            <li class="nav-item-first">
              <button (click)="goFeed()" class="btn btn-nav-bar">Fil d'actualité</button>
            </li>
            <li class="nav-item">
              <button (click)="goSell()" class="btn btn-nav-bar">Vendre</button>
            </li>

            <li class="nav-item">
                <button (click)="goMyArticles()" class="btn btn-nav-bar">Mes articles</button>
              </li>

            <li class="nav-item">
              <button routerLink="/profile" class="dropdown-item dropdown-profile" *ngIf="profile" class="btn btn-nav-bar">Profil</button>
            </li>
            <li class="nav-item">
              <button (click)="auth.logout()" class="btn btn-nav-bar">Déconnexion</button>
            </li>
          </ul>
          <!-- / Menu section -->

          <ul class="navbar-nav d-none d-md-block">
            <!-- Login button: show if NOT authenticated -->
            <li class="nav-item" *ngIf="auth.loggedIn === false">
              <button id="qsLoginBtn" class="btn btn-nav-bar" (click)="auth.login()">Connexion</button>
            </li>
            <!-- / Login button -->
          </ul>

          <!-- Responsive login button: show if NOT authenticated -->
          <ul class="navbar-nav d-md-none" *ngIf="auth.loggedIn === false">
            <button class="btn btn-primary btn-block"id="qsLoginBtn"(click)="auth.login()">Connexion</button>
          </ul>
          <!-- /Responsive login button -->

          <!-- Responsive profile dropdown: show if authenticated -->
          <ul class="navbar-nav d-md-none justify-content-between" *ngIf="auth.userProfile$ | async as profile"style="min-height: 170px">
          </ul>
        </div>
      </div>
    </nav>
  </div>
